# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TensorFlow_workplace_new\iat_ws_python3_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
